.bundle/
.yardoc
Gemfile.lock
_yardoc
coverage
doc
pkg
spec/reports
/tmp
*.mov
*.db
.DS_Store
/WEB/client_secret.json
.env
*.csv
*.json
tmp/
log/
.env
sheets.rb
ruby_drive.rb
.DS_Store
*.csv
tmp/
log/
