
  <div>
    <h2>Emails</h2>

    <form class="" action="/jbadmin/emails" method="post" enctype="multipart/form-data">
      <label for="">Upload</label>
      <input type="file" name="pdf" value="">
      <br>
      <input type="submit" name="Submit" value="Submit">
    </form>
  </div>
