<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <title>JbAdmin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/main.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <style media="screen">
    .wrapper {
      background: #fff;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 16px auto;
      max-width: 960px;
      padding: 2.25%; /* 18px / 800px */
      width: 85%;
    }
  </style>
</head>
<body>
  <div class="container">
	<ul class="list-inline">
            <li><a href='/jbadmin'>Home</a></li>
            <li><a href='/jbadmin/printers'>Printers Admin</a></li>
            <li><a href='/jbadmin/status'>Ping Status</a></li>
            <li><a href='/jbadmin/emails'>Parse Emails From PDF</a></li>
        </ul>
      <div class="wrapper">
        <%= yield %>
      </div>
    <footer class="branding">
      <small>&copy; 2017 <strong>JbAdmin</strong> By John Brilla</small>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
