
  <div>
    <h2>Email Parsing Input</h2>
    <p>Upload a PDF for processing...</p>
    <form class="" action="/jbadmin/emails" method="post" enctype="multipart/form-data">
      <label for="">Upload</label>
      <input type="file" name="pdf" value="">
      <br>
      <input type="submit" name="Submit" value="Submit">
    </form>
  </div>
